* {
  box-sizing:border-box;
}

body{
  font-family:"Hiragino Kaku Gothic ProN"
}

/*コメント*/
a {
  text-decoration: none;
}

.container{
  /*max-width:1170px;*/
  width:100%;
  background-color:rgba(255,0,0,0.0);
}

.title{
  text-align:center;
  background-color:rgba(0,255,0,0.0);
}
.title img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:50px;
  width:40%;
  cursor: pointer;
}

.message{
  background-color:rgba(0,255,0,0.0);
  height:160px;
  margin-top:5px;
  text-align:center;
  position:relative;
}
.miffy{
  display:inline-block;
  width:60px;
  height:100px;
  position:relative;
  position:absolute;
  top:30%;
  left:20%;
  background-color:rgba(150,0,0,0.0);
}
.miffy img{
  width:60px;
}
.emote img{
  width:30px;
  position:absolute;
  top:-20%;
  left:80%;
}
.hart, .namida, .ase, .onpu, .ikari{
  display:none;
}
.emote-active{
  display:block;
}

.fukidasi-miffy{
  width:660px;
  display:inline-block;
  position:relative;
  position:absolute;
  top:-20%;
  left:70%;
  background-color:rgba(56, 134, 102, 0.0);
}

.fukidasi-miffy img{
  width:660px;
  height:100px;
}
.serifu-miffy p{
  position:absolute;
  top:20%;
  left:30%;
}

.answer{
  background-color:rgba(0,255,0,0.0);
  text-align:center;
  display:none;
}

.btn{
  display:inline-block;
  padding:10px;
  cursor: pointer;
  opacity:0.7;
}
.btn:hover{
  opacity:1;
}
.yes{
  height:100%;
  width:100px;
  border:1px solid;
  border-radius:6px;
  margin-right:5px;
  background-color:rgba(0,255,255,1);
}
.no{
  height:100%;
  width:100px;
  border:1px solid;
  border-radius:6px;
  margin-right:5px;
  background-color:rgba(0,255,255,1);
}
.answer-input{
  background-color:rgba(50,255,0,0.0);
  text-align:center;
  padding-bottom:20px;
  margin-bottom:10px;
  display:none;
}
.inp{
  display:inline-block;
  padding:10px;
  cursor: pointer;
  opacity:0.7;
}
.inp:hover{
  opacity:1;
}#name{
  height:40px;
  border:1px solid;
  border-radius:6px;
  margin-right:5px;
  text-align:center;
}
#enter{
  height:100%;
  width:100px;
  border:1px solid;
  border-radius:6px;
  margin-right:5px;
  background-color:rgba(0,255,255,1);
}

/*
.clear{
  clear:left;
}
*/
/*プレゼントエリア*/
.present{
  opacity:0;
  width:100%;
  background-color:rgba(0,100,255,0.2);
  display:block;
  text-align:center;
}
.present-area{
  height:80%;
  width:80%;  
  background-color:rgba(0,255,255,0.0);
}
.megane{
  display:inline-block;
  position:relative;
  text-align:left;
  width:100%;
  height:160px;
  background-color:rgba(255,0,0,0.0);
}
.megane img{
  width:80px;
  padding-top:40px;
}
.emote-megane img{
  width:30px;
  position:absolute;
  top:0%;
  left:8%;
}
.hart-megane, .namida-megane, .ase-megane, .onpu-megane, .ikari-megane{
  display:none;
}
.emote-active-megane{
  display:block;
}

.fukidasi-megane{
  position:relative;
  display:inline-block;
  display:absolute;
  top:-140px;
  left:10%;
  background-color:rgba(0,0,0,0.0);
}
.fukidasi-megane img{
  width:750px;
  padding-top:10px;

}
.serifu-megane{
  position:absolute;
  top:30%;
  left:25%;
}


/*モーダルデザイン*/
.modal-wrapper{
  width:100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:100;
 /* position:relative;*/
  display:none;
}
.modal{
  background-color:rgba(255,255,255,1);
  text-align:center;
}
.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.66);
  cursor: pointer;
  z-index:110;
}
.modal-megane{
  display:inline-block;
  position:relative;
  background-color:rgba(0,255,255,0);
}
.modal-megane img{
  width:80px;
  padding-top:40px;
  background-color:rgba(0,0,255,0);
}

.modal-fukidasi-megane{
  display:inline-block;
  position:relative;
}
.modal-fukidasi-megane img{
  width:700px;
  padding-top:40px;
}
.modal-serifu-megane{
  position:absolute;
  top:40%;
  left:30%;
}

.end{
  width:180px;
  height:50px;
  background-color:rgba(0,255,128,0.5);
  text-align:center;
  margin:0 auto;
  padding:14px;
  border:1px solid;
  border-radius:6px;
  cursor:pointer;
}
.end:hover{
  background-color:rgba(0,255,128,0.9);
}
.madori{
  width:380px;
  margin:0 auto;
  position:relative;
  background-color:rgba(0,255,128,0.0);

}
.madori img{
  margin-top:10px;
}
.point img{
  opacity:0.8;
  width:37px;
  height:55px;
  position:absolute;
  top:2.8%;
  left:56.5%;
}
.pikapika{
  animation: pika2 1s infinite alternate;
}
@keyframes pika2{
  from{opacity: 1;} 
  to{opacity:0;}
}

/*メッセージカード*/
.msgcard-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:100;

  width:100%;
  background-image:url(../icon/PR_xmas_hk_007.png);
  background-size: cover;
  display:none;
  background-color:rgba(0,0,0,0.0)
}
.msg{
  padding-top:100px;
  padding-left:50px;
  padding-right:50px;
  font-size:50px;
  background-color:rgba(0,0,200,0.0)
}
.from{
  
  padding-right:100px;
  text-align:right;
  font-size:30px;
  background-color:rgba(0,0,0,0.0)

}

